.progressBar {
  background: #e7e9f5;
  border-radius: 1px;
  height: 2px;
  width: 100%;
  transition: width 7s linear;
}

.title {
  color: rgb(74, 110, 224);
  font-family: Inter, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  font-family: Inter, sans-serif;
}

.desc {
  color: #4d536e;
  font-size: 14px;
  line-height: 22px;
  margin-top: -15px;
  font-family: Inter, sans-serif;
}

.featureDiv {
  position: relative;
  top: 0;
  transition: ease 0.3s;
  /* padding: 30px; */
  /* margin: 10px; */
}

.featureDiv:hover {
  transform: scale(1.05);
  cursor: pointer;
}
